@page "/aboutus"
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Karigar Botique is a premier online fashion destination, offering a curated selection of high-quality apparel and accessories. With a commitment to showcasing unique and stylish pieces, the website caters to fashion-forward individuals seeking a blend of contemporary trends and traditional craftsmanship. From intricately designed ethnic wear to chic modern ensembles, Karigar Botique strives to provide a diverse range of options to suit various tastes.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Beyond tradition, modern wedding dresses allow brides to express their individuality. Whether it's through unconventional silhouettes, unique fabrics, or personalized embellishments, each dress becomes a canvas for the bride's personal style, making it a memorable and cherished part of her wedding day.</li>
                    <li><i class="ri-check-double-line"></i>  Wedding dresses often feature meticulous craftsmanship and intricate detailing, showcasing delicate lacework, intricate embroidery, and shimmering beadwork.</li>
                    <li><i class="ri-check-double-line"></i> Wedding dresses encapsulate timeless elegance, embodying the bride's unique style and grace on her special day. </li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    The platform prioritizes customer satisfaction, ensuring a seamless shopping experience through user-friendly interfaces and secure transactions. Explore the latest fashion trends and express your individuality with Karigar Botique's carefully curated collection that celebrates the rich tapestry of fashion and culture.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section>
