@page "/partywear"
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Party Wears</h2>
        </div>

        <div class="row">
            <div class="shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                <img src="assets/img/bridal/bridal-1.jpeg" class="img-fluid animated" alt="">
                <h5 class="text-warning  ">Rs:35000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                <img src="assets/img/bridal/bridal-4.jpeg" class="img-fluid animated" alt="">
                <h5 class="text-warning  ">Rs:35000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
               <div>
                <img src="assets/img/bridal/bridal-3.jpeg" class="img-fluid animated" alt="">
                <h5 class="text-warning  ">Rs:30000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
               
                <div class="">     
                <img src="assets/img/bridal/bridal-2.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  " >Rs:35000/</h5>
                </div>
             
            </div>


            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                   <div>
                   <img src="assets/img/bridal/bridal-5.jpeg" class="img-fluid animated" alt="">
                   <h5 class="text-warning  ">Rs:35000/</h5>
                </div>

               </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div>
                    <img src="assets/img/bridal/bridal-6.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>
                </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div>
                    <img src="assets/img/bridal/bridal-7.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:30000/</h5>
                </div>
                </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

                    <div class="">
                        <img src="assets/img/bridal/bridal-2.jpeg" class="img-fluid animated" alt="">
                        <h5 class="text-warning  ">Rs:35000/</h5>
                    </div>

                </div>
                </div>
    </div>
</section>