 @page "/weddingwear"   

<section id="" class="">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Wedding Wear</h2>
        </div>

        <div class="row">
            <div class="shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                    <img src="assets/img/bridal/bridal-8.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                    <img src="assets/img/bridal/bridal-9.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                    <img src="assets/img/bridal/bridal-10.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:30000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

                <div class="">
                    <img src="assets/img/bridal/bridal-11.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>

            </div>


            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                    <img src="assets/img/bridal/bridal-12.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>

            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                    <img src="assets/img/bridal/bridal-13.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div>
                    <img src="assets/img/bridal/bridal-14.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:30000/</h5>
                </div>
            </div>

            <div class=" shadow col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

                <div class="">
                    <img src="assets/img/bridal/bridal-15.jpeg" class="img-fluid animated" alt="">
                    <h5 class="text-warning  ">Rs:35000/</h5>
                </div>

            </div>
        </div>
    </div>
</section>