  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">KARIGAR BOTIQUE</a></h1>
        <nav id="navbar" class="navbar">
            <ul class="" >
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="weddingwear">Wedding Wears</a></li>
                <li><a class="nav-link scrollto" href="partywear">Party Wear</a></li>
                <li><a class="nav-link scrollto" href="aboutus">About Us</a></li>
                <li><a class="nav-link scrollto" href="login">Login</a></li>
                <li><a class="nav-link scrollto" href="AddNew">AddNew</a></li>
               </ul>
        </nav>
    </div>
</header>